.navigation {
    height: 60px;   
   width: 100%;
   display: flex;
   align-items: center;
   position: relative;
   padding: 0.5rem 0rem;
   background-color: #fff;
   color: white;
   font-weight: 600;
   font-size: 17px;
   box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
 }
  #position {
    position: fixed; 
    top: 0;
 } 

 nav#position {
  background-color: black;
}
 .brand-name {
   text-decoration: none;
   color:white;
   font-size: 2.3rem;
   margin-left: 1rem;
 }
 .navigation-menu {
   margin-left: auto;
 }

 .navigation-menu ul {
   display: flex;
   padding: 0;
 }
 .navigation-menu li {
   list-style-type: none;
   padding:8px 12px 8px 12px;
   color:white;
   margin: 0 0.4rem;
 }
 .navigation-menu li:hover{
   background-color: rgba(0, 0, 255, 0.541); 
   color: white !important;
   border-radius: 20px;
   padding:8px 12px 8px 12px;

 }
 .navigation-menu li a:hover{  
   color: white !important;
 }
 .navigation-menu li .nav-link{
   text-decoration: none;           
   display: block;
   width: 100%;
 }


.hamburger {
 
 border: 0;
 height: 40px;
 width: 40px;
 padding: 0.5rem;
 border-radius: 50%;
 background-color: #283b8b;
 cursor: pointer;
 transition: background-color 0.2s ease-in-out;
 position: absolute;
 top: 50%;
 right: 25px;
 transform: translateY(-50%);
 display: none;
}
.hamburger:hover {
 background-color: #2642af;
}



.footer-section{
    background-color: black;
    color: white;
    height: 300px;
    width: 100vw;
    
}
.ft-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.ft-flex>div{
    margin: 10px;
    padding: 20px;
    font-size: 17px;
    color: white;
}
.foot-line {
    text-decoration: none;
    color: white;
}


a.nav-link {
  color: yellow;
}

.home{
  width: 100vw;
  height: 100vh;
}


.top-margin{
  margin-top: 100px;
}

.bg-none{
  background-color: none !important;
}
.list-style{
  list-style-type: none;
}

/* --Contact us-- */



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing:border-box;
  margin:0;
}

/* body {
	background: linear-gradient(90deg, #BE8CEF 0%, rgba(61, 46, 232, 0.83) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
  font-size:10px;
	height: 100vh;
	margin: -20px 0 50px;
} */



h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-color:#00b4cf;
}
.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color: #ffffff;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
    color:#ffffff;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid #00b4cf;
}

button {
	border-radius: 20px;
	border: 1px solid #00b4cf;
	background-color: #00b4cf;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

button:hover {
  opacity:0.7;
}
@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;  
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}

form p {
  text-align:left;
}


.space{
 margin-top: 100px; 
 margin-bottom: 100px; 
  /* padding: 20px; */
  z-index: -1;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    overflow-x: hidden;
    height: 550px;
    width: 100%;
}
.contact-input input{
       margin-bottom: 3px;
}




